* Body {  
      font-family: Calibri, Helvetica, sans-serif;
      font-weight: bold;
      background-color: #23272A;    
    }  
    button {   
            background-color: #23272A;
            color: white;       
    }   

     .container {   
            padding: 25px;
            background-color: #2C2F33; 
    }   
    div.footer {
        text-align: center;
        color: white;
    }
    div.b {
        text-align: right;
        color: white;
    }
    div.main {
        text-align: left;
        color: white;
    }
    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
}
    a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
}
    a:hover {
        color: #7289DA;
        background-color: transparent;
        text-decoration: none;
}
    a:active {
        color: white;
        background-color: transparent;
        text-decoration: none;
}